@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  width: 100vw;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
 }
body {
  /* color: #fff !important; */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

img {
  height: 100%;
  width: 100%;
}

 /* .ant-btn {
  background: #e5e5e5;
  background-color: #e5e5e5;
  border: none !important;
} */

.ant-btn-primary {
  background: #0061af;
  background-color: #0061af;
  border: none !important;
}
/*
.ant-btn:hover {
  background: #f1f1f1 !important;
  background-color: #f1f1f1 !important;
}

.ant-btn:disabled {
  background-color: #ebebeb !important;
  border-color: #d9d9d9 !important;
  color: #9c9c9c !important;
}

.ant-btn[disabled]:hover {
  background-color: #ebebeb !important;
  border-color: #d9d9d9 !important;
  color: #9c9c9c !important;
}

.ant-btn,
.ant-btn-sm {
  border-radius: 5px !important;
}



.ant-btn-primary:hover {
  background: #1890ff !important;
  background-color: #1890ff !important;
}

.ant-btn-dangerous {
  background: #ff4d4f !important;
  background-color: #ff4d4f !important;
  border: none !important;
}

.ant-btn-dangerous:hover {
  background: #ff7875 !important;
  background-color: #ff7875 !important;
}

.ant-btn-link {
  background: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.ant-btn-link:hover {
  background: transparent !important;
  background-color: transparent !important;
} */

.anticon {
  vertical-align: middle !important;
  margin-bottom: 3px !important;
}